#preload-01 { background: url(content/bear.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(content/cloud.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(content/cow.png) no-repeat -9999px -9999px; }
#preload-04 { background: url(content/dirt.png) no-repeat -9999px -9999px; }
#preload-05 { background: url(content/grass.png) no-repeat -9999px -9999px; }
#preload-06 { background: url(content/pigeon1.png) no-repeat -9999px -9999px; }
#preload-07 { background: url(content/pigeon2.png) no-repeat -9999px -9999px; }
#preload-08 { background: url(content/pigeon3.png) no-repeat -9999px -9999px; }
#preload-08 { background: url(content/pigeon4.png) no-repeat -9999px -9999px; }
#preload-08 { background: url(content/pigeon5.png) no-repeat -9999px -9999px; }
